{% load static %}

<style>
    .modal-content {
        background: none;
        border: none;
    }
    .modal-dialog {
        width: 100% !important;
        margin-top: 100px;
    }
    .modal-form-head {
        background-image: url("{% static 'img/login-bg.png' %}");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .modal-form-body {
        width: 300px;
        margin-top: 270px;
        margin-bottom: 100px;
        position: relative;
    }
    .modal-backdrop {
        background-color: #000000;
    }
    .modal-backdrop.show {
        opacity: 0.75;
    }
    .modal-form-body form input {
        border: 1px solid rgba(0,0,0,0.1);
    }
    .modal-form-body form input:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .btn-login-submit {
        background-color: #eeeeee;
        color: #470A5A;
        font-weight: 500;
        border: 1px solid #470A5A;
    }
</style>

<div class="modal fade p-0" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-form-head container d-flex justify-content-center px-0">
            <div class="modal-form-body">
                <form method="POST" action="{% url 'auth:login' %}" class="mt-2">
                    {% csrf_token %}
                    <input class="form-control mb-2 mt-1" type="text" name="username" placeholder="Username" required>
                    <input class="form-control mb-2 mt-1" type="password" name="password" placeholder="Password" autocomplete="off" required>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark mt-3 mx-auto btn-login-submit px-4">Log In</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>